<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Location Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <script>
        $("#id_region").change(function() {
            var url = "{% url 'ajax_load_districts' %}";
            var regionId = $(this).val();
            $.ajax({
                url: url,
                data: {
                    'region': regionId
                },
                success: function (data) {
                    var options = '<option value="">---------</option>';
                    for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    $("#id_district").html(options);
                }
            });
        });
    </script>
</body>
</html>
