<form id="locationForm" method="post" data-districts-url="{% url 'ajax_load_districts' %}" data-schools-url="{% url 'ajax_load_schools' %}" data-sinf-url="{% url 'ajax_load_sinf' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#id_region').change(function () {
            var url = $('#locationForm').attr('data-districts-url');
            var regionId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'region': regionId
                },
                success: function (data) {
                    var districtSelect = $('#id_district');
                    districtSelect.empty();
                    districtSelect.append('<option value="">---</option>');
                    $.each(data, function (key, value) {
                        districtSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                    });
                }
            });

        });

        $('#id_district').change(function () {
            var url = $('#locationForm').attr('data-schools-url');
            var districtId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'district': districtId
                },
                success: function (data) {
                    var schoolSelect = $('#id_school');
                    schoolSelect.empty();
                    schoolSelect.append('<option value="">---</option>');
                    $.each(data, function (key, value) {
                        schoolSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                    });
                }
            });
        });

        $('#id_school').change(function () {
            var url = $('#locationForm').attr('data-sinf-url');
            var schoolId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'school': schoolId
                },
                success: function (data) {
                    var sinfSelect = $('#id_sinf');
                    sinfSelect.empty();
                    sinfSelect.append('<option value="">---</option>');
                    $.each(data, function (key, value) {
                        sinfSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                    });
                }
            });
        });
    });
</script>
